<style>
  #extraSideNav{
    /* display: none; */
    padding-left: 0px;
    padding-right: 0px;
    
  }
  #headerRow{
    background-color: #299AE1;
   }
  #menuIcon{
    display: none;
  }
  
  #userMailDropdown{
    background-color: unset;
    text-align: left;
    margin-right:10px;
    margin-top: 0px;
    color:white;font-size: 12px;
  }
  #collapseExample>.sidebar-nav>ul>li{
    margin:unset !important;

  }
  #logoSideNav{
    padding-top: 5px;padding-left: 20px;position: relative;
  }
  .profile{
        background-color: white;
        color:#005da2;
        width: 35px;
        height: 35px;
        border-radius: 22px;
        text-align: center;
        font-size: 24px;
        margin-right: 0px;
        margin-top: 8px;padding-left: 0px;
    
    }
    #profileCard{
        width: 67px;
        position: absolute;
        height: 29px;
        right: 3px;
        top: 31px;
        background-color: rgba(28,63,170);
        color: white;
        /* color: black; */
        border-radius: 4px;
        /* opacity: 0.9;    */
         border: 1px solid grey;
    }
    
   .tankImg-circle{
     background-color: white;
     border-radius: 10px;
     width:20px;margin-top: 9px;
   }
   .tank-heading{
    color: white;font-weight: 500;position: absolute;left:45px;top:16px;font-size: 14px;
   }
   
   #headerSideBar{
    display:none;
    /* width:360px; */
  }
  .dropdown-menu a.dropdown-item:focus {
    color:white;/*color turns white if not changed*/
    background: #299AE1 !important;           
   }
   /* .leftMainMenu{
     color: white !important;
   } */
   /* #headerSideBar.sidebar-nav>ul>li{
    color: white !important;
   } */

   @media screen and (min-width: 320px) and (max-width: 767px) { 
    #extraSideNav{
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #299AE1;
  }
  #headerRow{
    background-color: #299AE1;
    /* height: 50px; */
    padding-bottom: 10px;
  }
  #headerSideBar{
    display:block !important;
    width:360px;
  }
  #dropDownLogHeader{
    display: none;
  }
  .profile{
    display: none;
  }
  #menuIcon{
    display: block;
   margin-right: 15px;
   margin-top: -26px;
  }
  .sidebar-nav{
    padding-left: 0px !important;
  }
  }

</style>

<div class="container-fluid" id="extraSideNav">
<div class="row" id="headerRow">
<div class="col-md-6" id="logoSideNav">
  <div class="tankImg-circle">
    <img src="images/storage-tank.png" class="logo-cls"  style="width:18px;height:15px;padding-left: 3px;">
    <h5 class="tank-heading">TANK MONITORING</h5>
    
  </div>
  
</div>
<div class="col-md-6">
  
  <div class="dropdown float-right" id="dropDownLogHeader">
     <button class="btn dropdown-toggle" id="userMailDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
      aria-haspopup="true" aria-expanded="false">
      <%= sessionObj.firstName ? sessionObj.firstName : '-' %>
      <%= sessionObj.lastName ? sessionObj.lastName : '-' %>
      <br/>
      <span style="color: white;word-wrap: break-word;"><%= sessionObj.userId ? sessionObj.userId : '-' %></span>
    </button>
  <div class="dropdown-menu dropdown-menu-right" id="headerProClick" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" onclick="loadMainPage('/profile')" href="#/profile">Profile</a>
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="#" onclick="logout()">Log Out</a>
  </div>
</div>

      <div class="profile float-right">
        <i class="fa fa-user" aria-hidden="true" onclick="profilelogout()"></i>
      </div>

      <button
        class="btn float-right" type="button" data-toggle="collapse" data-target="#collapseExample" id="menuIcon"
        aria-expanded="false"
        aria-controls="collapseExample">
      
        <i class="fa fa-bars" aria-hidden="true" style="color: black"></i>
      </button>

     

<div class="collapse" id="collapseExample"> 
       <div class="scroll-sidebar" id="headerSideBar"> 
        <nav class="sidebar-nav"> 
          <ul class="leftMainMenu" id="sidebarnav">
              
            <li class="home-page">
              <span class="" style="color: #01010e;padding-left: 18px;">Home</span>
              <!-- <a href="javascript:void(0)" style="font-weight: bold;color: cornflowerblue !important;">Home</a> -->
            </li>
                <li class="dashboard left-list">
                    <a class="" style="color: white;" onclick="loadMainPage('/dashboard')" href="#/dashboard">
                      <!-- <i class="fa fa-tachometer" style="color:white;font-size: 17px;vertical-align: unset;" aria-hidden="true"></i>Dashboard</a> -->
                      <img src="images/tachometer.png" style="width:23px;height:23px;">&nbsp;&nbsp;Dashboard</a>
                    </li>
  
                <li class="tank-status left-list">
                    <a onclick="loadMainPage('/tankstatus')" href="#/tankstatus" style="color: white;">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Tank Status</a> -->
                      <img src="images/tank-status.png" style="width:23px;height:23px;">&nbsp;&nbsp;Tank Status</a>
                    </li>
  
                <li class="admin-page" style="margin-top: 20px;">
                  <span class="" style="color: #01010e;padding-left: 18px;">Administration</span>
                </li>
  
                <li class="manage-tanks left-list" >
                    <a onclick="loadMainPage('/tanks')" href="#/managetanks" style="color: white;">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Tanks</a> -->
                      <img src="images/storage-tank.png" style="width:20px;height:20px;">&nbsp;&nbsp;Tanks</a>
                    </li>
  
                <li class="manage-devices left-list">
                    <a onclick="loadMainPage('/devices')" href="#/managedevices" style="color: white;">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Devices</a> -->
                      <img src="images/motherboard.png" style="width:20px;height:20px;">&nbsp;&nbsp;Devices</a>
                    </li>
  
                <li class="users left-list" >
                    <a onclick="loadMainPage('/users')" href="#/users" style="color: white;">
                      <!-- <i class="fa fa-users"  style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Users</a> -->
                      <img src="images/users.png" style="width:23px;height:23px;">&nbsp;&nbsp;Users</a>
                    </li>
  
                <li class="raw-messages left-list">
                  <a onclick="loadMainPage('/rawmessages')" href="#/rawmessages" style="color: white;">
                    <!-- <i class="fa fa-envelope" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i> -->
                    <img src="images/envelope.png" style="width:17px;height:17px;">&nbsp;&nbsp;Raw Messages</a>
                  </li>

 <li class="profile-list left-list">
  
   <a onclick="loadMainPage('/profile')" href="#/profile" style="color: white;">
    <img src="images/profile.png" style="width:19px;height:19px;">&nbsp;&nbsp;Profile</a>
  </li>
  <li class="logout-list left-list">
  
    <a onclick="logout()" style="color: white;">
     <img src="images/arrow.png" style="width:19px;height:19px;">&nbsp;&nbsp;Log Out</a>
   </li>

</ul> 
         </nav> 
</div>
</div>
</div></div> </div>
<script src="js/auth.js"></script>