<style>
  .sidebar-nav>ul>li> a{
    color:white;
  }
  /* .left-list a{
    color:white !important;
  } */
 
  .active-tab{
    color:#000 !important;
    background-color: #fff !important;
  } 
   
 .sidebar-nav>ul>li a:hover{
     background-color: white;
     color: black;
 
  } 
  .left-sidebar{
    padding-top: 0px;
    height: 84vh !important;
     top:unset !important;
    background-color: #363636;
  }
  .sidebar-nav{
    padding-left: 10px;
  }
  .logo-cls{
      width:150px;height:42px;
  }
  
 
  .home-page-span,.admin-page-span{
      padding-left: 18px;
       color: #b7b3b3;
  }

  
</style>
 
  
<aside class="left-sidebar" style="position: absolute;">
   <!-- Sidebar scroll-->
     <div class="scroll-sidebar">
       <nav class="sidebar-nav"> 
         <ul class="leftMainMenu" id="sidebarnav">
            
            <li class="home-page">
              <span class="home-page-span">Home</span>
              <!-- <a href="javascript:void(0)" style="font-weight: bold;color: cornflowerblue !important;">Home</a> -->
            </li>
                <li class="dashboard left-list">
                    <a class="" onclick="loadMainPage('/dashboard')" href="#/dashboard">
                      <!-- <i class="fa fa-tachometer" style="color:white;font-size: 17px;vertical-align: unset;" aria-hidden="true"></i>Dashboard</a> -->
                      <img src="images/tachometer.png" style="width:23px;height:23px;">&nbsp;&nbsp;Dashboard</a>
                    </li>
  
                <li class="tank-status left-list">
                    <a onclick="loadMainPage('/tankstatus')" href="#/tankstatus">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Tank Status</a> -->
                      <img src="images/tank-status.png" style="width:23px;height:23px;">&nbsp;&nbsp;Tank Status</a>
                    </li>
  
                <li class="admin-page" style="margin-top: 20px;">
                  <span class="admin-page-span">Administration</span>
                </li>
  
                <li class="manage-tanks left-list" >
                    <a onclick="loadMainPage('/tanks')" href="#/managetanks">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Tanks</a> -->
                      <img src="images/storage-tank.png" style="width:20px;height:20px;">&nbsp;&nbsp;Tanks</a>
                    </li>
  
                <li class="manage-devices left-list">
                    <a onclick="loadMainPage('/devices')" href="#/managedevices">
                      <!-- <i class="fa fa-microchip" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Devices</a> -->
                      <img src="images/motherboard.png" style="width:20px;height:20px;">&nbsp;&nbsp;Devices</a>
                    </li>
  
                <li class="users left-list" >
                    <a onclick="loadMainPage('/users')" href="#/users">
                      <!-- <i class="fa fa-users"  style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i>Users</a> -->
                      <img src="images/users.png" style="width:23px;height:23px;">&nbsp;&nbsp;Users</a>
                    </li>
  
                <li class="raw-messages left-list">
                  <a onclick="loadMainPage('/rawmessages')" href="#/rawmessages">
                    <!-- <i class="fa fa-envelope" style="color:white;font-size: 16px;vertical-align: unset;" aria-hidden="true"></i> -->
                    <img src="images/envelope.png" style="width:17px;height:17px;">&nbsp;&nbsp;Raw Messages</a>
                  </li>
            </ul>
          <!-- </div> -->
        </nav> 
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
 

<script>
  //  $('.sidebar-nav>ul>li').click(function(){
  //    alert("if");
  //       if($(this).hasClass('.active-tab')){
  //         $(this).removeClass('.active-tab');
  //         $(this).addClass('.active-tab');
         
  // }
  // else{
  //   alert("else");
  //        $(this).removeClass('.active-tab');
  //        $(this).addClass('.active-tab');  
         
  //        }
  //  });
</script>
