<div class="container-fluid dash " style="background-color: rgb(241, 245, 248);padding-bottom: 50px;" >
  <div class="row" style="  padding-top: 25px;border-top-left-radius: 20px;
                          border-top-right-radius: 20px;padding: 20px; border-bottom: 1px solid gainsboro;">
    <div class="col-md-12">
      <span class="title-span"></pan>
        <span class="title-span">Home|</span>
        <span class="title-span" style="color: mediumblue;font-weight: 500;">Dashboard</span>
    </div>
  </div>
  <header class="topic1" style="margin-top: 20px;">
    <span style=" font-size: 20px;">General Report</span>
  
  </header>
  <div class="row rname" style=" padding-top: 50px ;">
  
    <div class="col-lg intro-y col-sm-12 col-md-6">
    
        <div class="box dname">
          <i class="fa fa-user-o fa-2x icon1" aria-hidden="true"></i>
          <span class="text-3xl font-bold leading-8 mt-6" style="margin-left: 15px;" id="totaluser"></span>
          <span class="text-base text-gray-600 mt-1" id="totaluser"> Users</span>
     </div>
    </div>
    <div class="col-lg intro-y col-sm-12 col-md-6">
  
        <div class="box dname">
           <i class="fa fa-tablet fa-2x icon2" aria-hidden="true"></i>
           <span class="text-3xl font-bold leading-8 mt-6"style="margin-left: 15px;"  id="totaltank"></span>
            <span class="text-base text-gray-600 mt-1">Tanks</span>
        </div>
   
    </div>
    <div class="col-lg intro-y col-sm-12 col-md-6">
    
        <div class="box dname">
        
            <i class="fa fa-calendar-o fa-2x icon3" aria-hidden="true"></i>
            <span class="text-3xl font-bold leading-8 mt-6" style="margin-left: 15px;" id="totalevent">5</span>
          <span class="text-base text-gray-600 mt-1" >Events</span>
        </div> 
    </div>
      <div class="col-lg intro-y col-sm-12 col-md-6">
       
          <div class="box dname">
            
              <i class="fa fa-television fa-2x icon4" aria-hidden="true"></i>
          
        
            <span class="text-3xl font-bold leading-8 mt-6"style="margin-left: 15px;"  id="totaldevice"></span>
            <span class="text-base text-gray-600 mt-1"> Devices</span>
          </div>
        </div>
      </div>

  <div class="row three" id="chart">

    <div class="col-lg-5 col-md-6 col-sm-12 chart">
      <div class="card-header">Water Level Alert</div>  
      <div id="local" style="width: 100%; height: 300px;">

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 dname chart ml-4">
      <div class="card-header">Water Consumption By Days</div>  
      <!-- <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xl-4">
          <select id="location" class="form-select" aria-label="Default select example" style="margin-top: 20px; margin-left: 10px;height: 35px;background: #fff; border: 1px solid #ccc;">
            <option >select</option>
            <option>Velachery</option>
            <option >Chennai</option>
            <option >Porur</option>
          </select>
        </div>
        <div class="col-md-auto col-lg-auto col-sm-auto col-xl-auto">
        
          <div id="reportrange" style="background: #fff; border: 1px solid #ccc;display: inline-block;padding: 6px; margin-top: 20px; margin-left: 20px;">
            <i class="fa fa-calendar"style="color: #299AE1;"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div></div>
         
      </div> -->
      <div id="bar1"  style="width: 100%; height: 300px;">

      </div>
    </div>
  </div>

  <div class="row five">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 chart1">
      <div class="card-header">Water Consumption by Total Chennai city</div>  
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
          
        </div>
        <div class="col-md-auto col-lg-auto col-sm-auto col-xl-auto">
        
          <div id="reportrang" style="background: #fff; border: 1px solid #ccc;display: inline-block;padding: 6px; margin-top: 20px;margin-left: 190px;">
            <i class="fa fa-calendar" style="color: #299AE1;"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div></div>
         
      </div>
      <div id="bar2"  style="width: 100%; height: 400px;">
      
      </div>
      </div>
    </div>
  </div>
 

<script src="js/dashboard.js"></script>



<script>
//   $(function() {

// var start = moment().subtract(29, 'days');
// var end = moment();

// function cb(start, end) {
//     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
// }

// $('#reportrange').daterangepicker({
//     startDate: start,
//     endDate: end,
//     ranges: {
//        'Today': [moment(), moment()],
//        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
//        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
//        'Last 30 Days': [moment().subtract(29, 'days'), moment()]
       
//     }
// }, cb);

// cb(start, end);

// });
$(function() {

var start = moment().subtract(29, 'days');
var end = moment();

function cb(start, end) {
    $('#reportrang span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
}

$('#reportrang').daterangepicker({
    startDate: start,
    endDate: end,
    ranges: {
      //  'Today': [moment(), moment()],
       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
       'Last 30 Days': [moment().subtract(29, 'days'), moment()]
       
    }
}, cb);

cb(start, end);

});

  // bar cart by location tank wish
  $("#location").mouseup(function() {
    var open = $(this).data("isopen");
    if(open=="velachhery") {
        alert('hello');
    }
    $(this).data("isopen", !open);
});
    var data1;

  var data2;
  $(()=>{
    
  console.log($('#location').val())
  var lo=$('#location').val()
  if(lo == 'velachery')
{
  data1=["tank1","tank2","tank3","tank4","tank5","tank6","tank7","tank8","tank9","tank10","tank11","tank12","tank13","tank14","tank15","tank16","tank17","tank18","tank19","tank20"]
  console.log(lo)
  data2=[10, 52, 200, 334, 390, 330, 220, 200, 334, 390,100, 252, 200, 434, 390, 530, 220, 200, 334, 390]
}else{
  data1=["tank1","tank2","tank3","tank4","tank5","tank6","tank7","tank8","tank9","tank10","tank11","tank12","tank13","tank14","tank15","tank16","tank17","tank18","tank19","tank20"]
  console.log(lo)
  data2=[10, 52, 200, 334, 390, 330, 220, 200, 334, 390,100, 252, 200, 434, 390, 530, 220, 200, 334, 390]
}

})
$(()=>{
  console.log(data1)
  var myCharts = echarts.init(document.getElementById('bar1'));

option = {
    color: ['#3398DB'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {            
            type: 'shadow'       
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [
        {
            type: 'category',
             axisLabel: {
            interval: 0,
            rotate:30
        },
            data: data1,
            axisTick: {
                alignWithLabel: true
            }
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: 'Consumption Level',
            type: 'bar',
            barWidth: '60%',
            data: data2
        }
    ]
};
myCharts.setOption(option);

})


 
var myCharts = echarts.init(document.getElementById('bar2'));
option = {
    color: ['#3398DB'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {           
            type: 'shadow'        
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [
        {
            type: 'category',
             axisLabel: {
            interval: 0,
            rotate:30
        },
            data: ['POONDI', 'CHOLAVARAM', 'REDHILLS', 'CHEMBARAMBAKKAM', 'MYLAPORE', 'VEERANAM', 'NESAPAKKAM','KODAMBAKKAM A','KODAMBAKKAM B','KOYAMBEDU','AVADI','PORUR','VELACHERY','EGMORE','GUINDY','LITTLE MOUNT','KILPAUK','SAIDAPET','VADAPALANI','THIRUMANGALAM'],
            axisTick: {
                alignWithLabel: true
            }
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: 'Consumption Level',
            type: 'bar',
            barWidth: '60%',
            data: [10, 52, 200, 334, 390, 330, 220, 200, 334, 390,100, 252, 200, 434, 390, 530, 220, 200, 334, 390]
        }
    ]
};
myCharts.setOption(option);
</script> -->
