<div class="container-fluid dash " style="background-color: rgb(241, 245, 248);">
  <div class="row" style="  padding-top: 25px;border-top-left-radius: 20px;
                          border-top-right-radius: 20px;padding: 20px; border-bottom: 1px solid gainsboro;">
    <div class="col-md-12">
      <span class="title-span"></pan>
        <span class="title-span">Home|</span>
        <span class="title-span" style="color: mediumblue;font-weight: 500;">Dashboard</span>
    </div>
  </div>

  <div class="row rname" style=" padding-top: 70px ;">

    <div class="col-lg intro-y col-sm-12 col-md-6">
      <div class="report-box zoom-in dname">
        <div class="box ">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-monitor report-box__icon text-theme-12">
              <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
              <line x1="8" y1="21" x2="16" y2="21"></line>
              <line x1="12" y1="17" x2="12" y2="21"></line>
            </svg>
            <div class="ml-auto">
              <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"> 12% <svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-chevron-up w-4 h-4">
                  <polyline points="18 15 12 9 6 15"></polyline>
                </svg> </div>
            </div>
          </div>
          <div class="text-3xl font-bold leading-8 mt-6">2.145</div>
          <div class="text-base text-gray-600 mt-1">Total Products</div>
        </div>
      </div>
    </div>
    <div class="col-lg intro-y col-sm-12 col-md-6">
      <div class="report-box zoom-in dname">
        <div class="box ">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-monitor report-box__icon text-theme-12">
              <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
              <line x1="8" y1="21" x2="16" y2="21"></line>
              <line x1="12" y1="17" x2="12" y2="21"></line>
            </svg>
            <div class="ml-auto">
              <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"> 12% <svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-chevron-up w-4 h-4">
                  <polyline points="18 15 12 9 6 15"></polyline>
                </svg> </div>
            </div>
          </div>
          <div class="text-3xl font-bold leading-8 mt-6">2.145</div>
          <div class="text-base text-gray-600 mt-1">Total Products</div>
        </div>
      </div>
      
    </div>
    <div class="col-lg intro-y col-sm-12 col-md-6">
      <div class="report-box zoom-in dname">
        <div class="box ">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-monitor report-box__icon text-theme-12">
              <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
              <line x1="8" y1="21" x2="16" y2="21"></line>
              <line x1="12" y1="17" x2="12" y2="21"></line>
            </svg>
            <div class="ml-auto">
              <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"> 12% <svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-chevron-up w-4 h-4">
                  <polyline points="18 15 12 9 6 15"></polyline>
                </svg> </div>
            </div>
          </div>
          <div class="text-3xl font-bold leading-8 mt-6">2.145</div>
          <div class="text-base text-gray-600 mt-1">Total Products</div>
        </div>
      </div> 
    </div>
      <div class="col-lg intro-y col-sm-12 col-md-6">
        <div class="report-box zoom-in dname">
          <div class="box ">
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-monitor report-box__icon text-theme-12">
                <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                <line x1="8" y1="21" x2="16" y2="21"></line>
                <line x1="12" y1="17" x2="12" y2="21"></line>
              </svg>
              <div class="ml-auto">
                <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer"> 12% <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-up w-4 h-4">
                    <polyline points="18 15 12 9 6 15"></polyline>
                  </svg> </div>
              </div>
            </div>
            <div class="text-3xl font-bold leading-8 mt-6">2.145</div>
            <div class="text-base text-gray-600 mt-1">Total Products</div>
          </div>
        </div>
      </div> 
      
   
   
  </div>

  <div class="row three">

    <div class="col-lg chart">

      <div id="local" style="width: 500px; height: 300px;">

      </div>
    </div>
    <div class="col-lg dname chart2">
      <h4>Water Consumption levels</h4>
      <div id="main" style="width: 500px; height: 300px;">

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 chart3">
      <h4>Water Consumption By Days</h4>
      <div id="graph" style="width: 510px; height: 300px;">

      </div>
    </div>
    <div class="col-md-6">
      <div id="main" style="width: 500px; height: 300px;">

      </div>
    </div>
  </div>

</div>

<script src="js/dashboard.js"></script>




<!-- <script>
  var myChart = echarts.init(document.getElementById('main'));
 var option = {
  tooltip: {
      trigger: 'axis',
      axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
      }
  },
  legend: {
      data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎', '百度', '谷歌', '必应', '其他']
  },
  grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
  },
  xAxis: [
      {
          type: 'category',
          data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
      }
  ],
  yAxis: [
      {
          type: 'value'
      }
  ],
  series: [
     
      {
          name: 'vvv',
          type: 'bar',
          stack: 'gg',
          data: [120, 132, 101, 134, 90, 230, 210]
      },
   
      {
          name: 'location',
          type: 'bar',
          stack: 'hhh',
          data: [150, 232, 201, 154, 190, 330, 410]
      },
     
   
  ]
};
myChart.setOption(option);
</script> -->