
<div class="container-fluid">

  <div class="row row1">
        <div class="col-md-12">
          <span class="title-span"></span>
            <span class="title-span">Administration|</span>
            <span class="title-span3">Manage devices</span>
        </div>
      </div>
  
      
        <div class="row row2">
          <div class="col-md-6">
            <div class="span1" id="total">
            <span>Total Devices: </span>
            <span style="font-weight: 500"></span>
          </div> 
        </div>
          
            <div class="col-md-6" style="text-align:right;">
         
              <!-- <input class="pick" data-date-format="mm/dd/yyyy" id="datePickerrr"> -->
                <a class="btn ico"><i class="fa fa-expand" style="color:white;" aria-hidden="true" id="ex"></i></a>
                <a class="btn ico" onclick="refreshFunction()"><i class="fa fa-repeat fa" style="color: white;" aria-hidden="true"></i></a>
              </div>
                </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Device</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            
            </div>
          </div>
        </div>
       
  <div class="row row3">
    <div class="col-md-12">
      <table
        class="table table-bordered responsive"
        id="device_details"
        width="100%"
      >
    </table>
  </div>
</div>
        
      

</div>
<!-- end -->

<script src="js/managedevices.js"></script>
<script>
  function refreshFunction() {
    loadDeviceList();
}
</script>
<!-- <script>
  $(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();
    
    function cb(start, end) {
      $('#datePickerrr').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    }

    $('#datePickerrr').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Clear': [], //clear doesn't work
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 days': [moment().subtract(6, 'days'), moment()],
        'Last 30 days': [moment().subtract(29, 'days'), moment()],
        'This month': [moment().startOf('month'), moment().endOf('month')],
        'Last month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
          //format: 'Y-m-d',
          //format: "DD-MM-YYYY",
          minDate: moment(),
          cancelLabel: 'Clear',
          applyLabel: 'Apply',
                        
          
      }
    }, cb);

    cb(start, end);

  });
 
  $('#datePickerrr').on('cancel.daterangepicker', function(ev, picker) {
    $('#datePickerrr').val('');
    table.draw();
    });

  $('#datePickerrr').on('apply.daterangepicker', function(ev, picker) {
   var start = picker.startDate;
   var end = picker.endDate;


  $.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex) {
      var min = start;
      var max = end;
      //var startDate = new Date(data[10]).format('YYYYMMDD hhmm');

      var date1 = (data[10]).split('/') 
      var newDate = date1[1] + '/' +date1[0] +'/' +date1[2];  
      var startDate = new Date(newDate);
      //alert(startDate);

       
      if (min == null && max == null) { return true; }
      if (min == null && startDate <= max) { return true; }
      if (max == null && startDate >= min) { return true; }
      if (startDate <= max && startDate >= min) { return true; }
      return false;
    }
  );
  table.draw();
  $.fn.dataTable.ext.search.pop();
    });
</script> -->

