<div class="container-fluid">
  <div class="row row1">
    <div class="col-md-12">
      <span class="title-span1">Administration</span>
      <span class="title-span2">|</span>
      <span class="title-span3">Manage Devices</span>
    </div>
  
  </div>
  <div class="row row2">
    <div class="col-md-3">
      <div style="margin-top: 12px;">
      <span>Total Devices: </span>
      <span style="font-weight: 500">7</span>
    </div>
    </div>
     <!-- <div class="col-md-9">
                  <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                </div> -->
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Device</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <label for="text">Device Id</label>
            <input type="text" class="form-control"><br>
            <label for="text">Device Model</label>
            <input type="text" class="form-control"><br>
            <label for="number">Version</label>
            <input type="text" class="form-control"><br>
            <label for="text">Channel</label>
            <input type="text" class="form-control"><br>
            <label for="text">Status</label>
            <input type="text" class="form-control">
          
          
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-primary">Add Device</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row3">
    <div class="col-md-12">
      <table
        class="table table-bordered responsive no-wrap"
        id="manage-device"
        cellspacing="0"
        width="100%"
      >
    </table>
  </div>
</div>
        <!-- <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-plus-square" style="color: black;"aria-hidden="true"></i>Add Device</div>
              <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-refresh" style="color: black;" aria-hidden="true"></i></div>
          </div>
              </div> -->
      

</div>

<!-- end -->

<script src="js/managedevices.js"></script>
