<div class="container-fluid ">
  <div class="row" style="background-color:white;padding-top: 25px;border-top-left-radius: 20px;
    border-top-right-radius: 20px;padding: 20px;">
        <div class="col-md-12">
          <span class="title-span"></pan>
            <span class="title-span">Administration|</span>
            <span class="title-span" style="color: mediumblue;font-weight: 500;">Manage Tanks</span>
        </div>
      </div>
   <div class="row head">
          <div class="col-md-6 coln1">
             <span class="span1">Total Tanks:</span>
             <span>4</span>
             
          </div>
        <div class="col-md-6 coln2">
          <input class="pick" data-date-format="mm/dd/yyyy" type="date" id="datePickerrr">
            <!-- <a href=""class="btn but"><i class="fa fa-refresh   fa-fw "style=" color:white;" aria-hidden="true"></i></a> -->
            <a href=""class="btn but"><i class="fa fa-expand" style=" color:white;" aria-hidden="true"></i></a>
          </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content"> <p style="text-align: center;font-weight: 700;font-size: 15px;"></p>
                    <div class="modal-header">
                      Add New Tank
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <lable class="la">Tank Name</lable>
                      <input type="text"class="la3"><br>
                      <lable class="la" >Tank Type</lable>
                      <input type="text"class="la2"><br>
                      <lable class="la" >Capacity</lable>
                      <input type="number"class="la2"><br>
                      <lable class="la">Linked Devices</lable>
                      <input type="text"class="la1"><br>
                      <lable class="la">Updated Time</lable>
                      <input type="text"class="la1"><br>
                      <lable class="la">Created Time</lable>
                      <input type="text"class="la1">
                     </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Add Tank</button>
                  </div>
            </div>
      </div>
    </div>
  </div>
  
      <div class="row roo" >
          <div class="col-md-12">
           
              <table class="table table-bordered responsive no-wrap c1 "id="example" cellspacing="0" width="100%"  ></table> </table>
          </div>
      </div>
</div>

    
    
        
 


<script src="js/managetanks.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->


