<style>
    #firstRow{
         padding: 10px 20px;padding-right: 0px;
         border-bottom: 1px solid lightgrey;
         background-color:gainsboro;
        
     }
     .paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{
         color: #fff !important;
     background-color: #299AE1 !important;
     background: #299AE1 !important;
     border-color: #299AE1 !important;
     border-radius: 3px !important;
     }
     .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
             border: none !important;
     }
     .dataTables_wrapper .dataTables_paginate .paginate_button{
         border: none !important;
     }
    
     .activ-inactive-coln{
         text-align: right;
     }
     #rawMsgDatePicker{
        background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 2px;
     }
 </style>
 <div class="container-fluid" id="tankStatusCont">
     <div class="row" style="background-color:white;padding-top: 25px;border-top-left-radius: 20px;
                 border-top-right-radius: 20px;padding: 20px;">
                     <div class="col-md-6">
                       <span class="title-span" style="color: grey;font-weight: 500;">Administration</pan>
                         <span class="title-span" style="margin-left: 5px;margin-right: 5px;">
                             <i class="fa fa-angle-right" aria-hidden="true"></i>
                         </span>
                         <span class="title-span" style="color: mediumblue;font-weight: 500;">Raw Messages</span>
                     </div>
 
                     <!-- <div class="col-md-6" style="text-align: right;">
                          <div class="profile">
                             <i class="fa fa-user" aria-hidden="true" onclick="profilelogout()"></i>
                                 <div class="card" id="profileCard" style="display: none;">
                                    <div class="card-body" style="padding-left: 0px;padding-top: 10px;padding-right: 0px;">
                                       <ul class="list-unstyled" style="font-size: 14px;">
                                         <li>Profile</li> 
                                         <li><a onclick="logout()">logout</a></li>
                                        
                                     </ul>
                                    
                                 </div>
                             </div>
 
                             
                             </div>  -->
                     <!-- </div> -->
                   </div>
      
    <div class="row" id="firstRow" style="">
         <div class="col-md-6" style="">
             <div style="margin-top: 12px;">
                <span>Total messsages: </span>
                <span id="totalCount" style="font-weight: 500;"></span>
         </div>
         </div>
         <div class="col-md-6 activ-inactive-coln">
            <div class="float-right">
                <button type="button" class="btn" data-toggle="tooltip" title="Referesh" onclick="rawMsgRef()" style="background-color:#299AE1;color: white;">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
           </div>
      
            <div class="float-right" style="margin-right: 5px;">
            <button type="button" class="btn but" data-toggle="tooltip" data-placement="bottom" title="Full Screen" style="background-color:#299AE1;color: white;">
              <i class="fa fa-expand" id="expandview" style="color:white" aria-hidden="true"></i></button>
          </div>

          <div id="rawMsgDatePicker">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
                   
         </div>
     </div>
 
     <div class="row" style="background-color:white;border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;padding-left: 20px;padding-bottom:20px;margin-bottom: 70px;">
         <div class="col-md-12">
             <table class="table table-bordered responsive no-wrap" id="rawMsgTable" cellspacing="0" width="100%">
                
             </table>
         </div>
     </div>
 </div>
 
 <script src="js/rawmessages.js"></script>