<style>
    .button-srch{
        height:30px;border-radius: 4px;
        /* margin-top: 5px; */
    }
    .live-btn{
    width: 60px;
    background-color:darkcyan;
    height: 24px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 8px;
    }
    .pick{
        height:23px;border-radius: 4px;
    }
    #firstRow{
        height: 60px;
        border-bottom: 1px solid lightgrey;
        /* box-shadow:5px 5px 5px lightslategrey ; */
    }
   
</style>



<div class="container-fluid">
    <div class="row" style="background-color:white;padding-top: 25px;border-top-left-radius: 20px;
    border-top-right-radius: 20px;padding: 20px;">
        <div class="col-md-12">
          <span class="title-span">Home</pan>
            <span class="title-span">|</span>
            <span class="title-span" style="color: mediumblue;font-weight: 500;">Tank Status</span>
        </div>
      </div>
      <!-- <hr> -->
   <div class="row" id="firstRow" style="background-color:gainsboro;padding-top: 10px;padding-left: 20px;">
        <div class="col-md-3" style="">
            <div style="margin-top: 12px;">
               <span>Total Tanks: </span>
               <span id="total" style="font-weight: 500;"></span>
        </div>
        </div>
        <div class="col-md-9" style="text-align: right;">
            <button type="button" class="live-btn">Live</button>
            <input class="pick" data-date-format="mm/dd/yyyy" id="datepicker">
            <!-- <input type="text" class="button-srch" placeholder="Search Tanks"> -->
            
        </div>
    </div>

    <div class="row" style="background-color:white;border-bottom-left-radius: 20px;padding-bottom: 70px;
    border-bottom-right-radius: 20px;padding-left: 20px;">
        <div class="col-md-12">
            <table class="table table-bordered responsive no-wrap" id="StatusTable" cellspacing="0" width="100%">
               
            </table>
        </div>
    </div>
</div>

<script src="js/tankstatus.js"></script>