.user-icon{
    margin-top: 20px;

}
.users{
    margin-top: 80px;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.875rem;
    color: rgb(46, 56, 73);
}
/* .tank span{
   padding-top: 20px;
} */
.three{
    margin-top: 80px;
}
.tank:hover{
    box-shadow: 20px blue;
    background-color: white;
    margin-left: 10px;
  
}
.one{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.one:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
cursor: pointer;
}

/* .roe{
    border-bottom-left-radius: 20px;padding-bottom: 70px;
        border-bottom-right-radius: 20px;
    background-color:white;
padding-left: 20px;
} */
/* .con{
    background-color: white;
} */
