.container-fluid{
    background-color: rgb(241, 245, 248) !important;
}
/* .tank span{
   padding-top: 20px;
} */
.three{
    margin-top: 80px;
}
.row .tank{
    background-color: white;
    margin-left: 10px;
    padding-top: 50px;
}
.one{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.one:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
cursor: pointer;
}

/* .roe{
    border-bottom-left-radius: 20px;padding-bottom: 70px;
        border-bottom-right-radius: 20px;
    background-color:white;
padding-left: 20px;
} */
/* .con{
    background-color: white;
} */
