

.row1 {
  background-color: white;
  padding-top: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}
.title-span3 {
  color: mediumblue;
  font-weight: 500;
}
.row.row2 {
  background-color: gainsboro;
  padding-top: 10px;
  padding-left: 20px;
  height: 60px;
}
.span12 {
  margin-top: 12px;
}

/* .pick{
  border-radius: 4px;border: 1px solid gray;
} */
/* .pick{
  border-radius: 4px;border: 1px solid gray;
} */
.ico {
  background-color: #299AE1;
}
.row3 {
  border-bottom-left-radius: 5px;
  padding-bottom: 70px;
  border-bottom-right-radius: 5px;
  background-color: white;
  padding-left: 20px;
}
.paging_simple_numbers .pagination .paginate_button.active a,
.paging_simple_numbers .pagination .paginate_button:hover a {
  color: #fff !important;
  background-color: rgba(28, 63, 170) !important;
  background: rgba(28, 63, 170) !important;
  border-color: rgba(28, 63, 170) !important;
  border-radius: 3px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none !important;
}
.dataTables_filter input, .dataTables_filter input:focus, .dataTables_length select, .dataTables_length select:focus{
  background-image: unset;
}
.modal-title {
  color: #1c3faa;
  font-weight: bolder;
}
.modal-footer .btn2 {
  background-color: #005da2;
  color: white;
}
.lab {
  padding: 40px;
}
.lab3 {
  margin-left: 30px;
}
.lab1 {
  margin-left: 42px;
  margin-top: 10px;
  align-items: center;
}
.lab2 {
  margin-top: 10px;
  align-items: center;
}
.lab8 {
  margin-left: 34px;
  margin-top: 10px;
  align-items: center;
}
.lab9 {
  margin-left: 50px;
  margin-top: 10px;
  align-items: center;
}

.toolbar {
  float: right;
}
@media screen and (min-width: 340px) and (max-width: 767px) { 
  .me1{
      position: relative;
  }
  .fullv{
     position: absolute;
     left: 210px;
     top: -40px;
    
  }
  .exp5{
      position: absolute;
      left: 259px;
      top: -40px;
  }
  .calen{
  position: relative;
  margin-bottom: 7px;
  top: 10px;
  width: 295px;
      }
      
      .dataTables_filter{
      position: relative;
      left: -50px;
      }
      
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .me1{
      position: relative;
  }
  .fullv{
      position: absolute;
      left: 160px;
      top: -5px;
      margin-bottom: 24px;
     
   }
   .exp5{
      position: absolute;
      left: 211px;
      margin-bottom: 24px;
      top: -5px;
  }
  .calen{
      position: relative;
      margin-bottom: 20px;
      top: 20px;
      width: 295px;
      left: -49px;
      margin-top: 23px;
      }
      /* .dataTables_filter{
          position: relative;
          left: 172px;
          top: 5px;
          } */
}
