.image img{
    width:50px; 
}
.but{
    border-radius: 48%;
    background-color: #1C3FAA;
  
}
.roo{
    border-bottom-left-radius: 20px;padding-bottom: 70px;
        border-bottom-right-radius: 20px;
    background-color: white;
padding-left: 20px;
}
/* .head{
    margin-top: 30px;

   } */
.head{
    background-color:gainsboro;
    /* border-bottom: 3px solid #1C3FAA82; */
    /* padding-bottom: 30px; */
   }
   .span1{
       padding-left: 20px;
   }
   .span{
       font-weight: bolder;
       font-size: 15px;
   }
   
.c1{
    margin-top: 30px;
}
.coln1{
    padding-top: 15px;


}
.icons{
    padding-right: 15px;
}
.coln2{
    text-align: right;
}
.coln4{
    text-align: right;
}

.head3{
    background-color: cadetblue;
}
.button1{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background-color: #1C3FAA;
    border: 2px solid;
    color:white;
}
.button2{
    border-radius: 6px;
}
.l1{
    padding-left: 40px;
}
.b1{
    width: 70px;
    border-radius: 5px;
}
.buttonn{
    margin-right: 30px;
    padding: 3px;
    border-radius: 6px;
    
}
.t-head{
    background-color: rgb(153, 40, 153);
}
.headcontent{
    color:white;
}
.butt{
    background-color: violet;
    
}
.la{
 
  padding: 40px;
}
.la1{
    margin-top: 10px;
    
}
.la2{
    margin-left: 35px;
    margin-top: 10px;
}
.la3{
    margin-left: 24px;
}
.button{
    background-color: blueviolet;
    border-radius: 5px;
}
.toolbar
{
    float:right;
}

.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{
    color: #fff !important;
background-color: rgba(28,63,170) !important;
background: rgba(28,63,170) !important;
border-color: rgba(28,63,170) !important;
border-radius: 3px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none !important;
}
/* .dataTables_filter input, .dataTables_length select {
    border: 0;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
  
    border-radius: 5px;
    border:2px solid  gray;
} */