.row1 {
  background-color: white;
  padding-top: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}
.title-span3 {
  color: mediumblue;
  font-weight: 500;
}
.row.row2 {
  background-color: gainsboro;
  padding-top: 10px;
  padding-left: 20px;
  height: 60px;
}
.span1 {
  margin-top: 12px;
}
.row3 {
  border-bottom-left-radius: 20px;
  padding-bottom: 70px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding-left: 20px;
}
.toolbar {
  float: right;
}
