.image img{
    width:50px; 
}
.but{
    border-radius: 48%;
    background-color: #1C3FAA;
  
}
.roo{
    border-bottom-left-radius: 20px;padding-bottom: 70px;
        border-bottom-right-radius: 20px;
    background-color: white;
padding-left: 20px;
}
/* .head{
    margin-top: 30px;

   } */
.head{
    background-color:gainsboro;
    /* border-bottom: 3px solid #1C3FAA82; */
    /* padding-bottom: 30px; */
   }
   .span1{
       padding-left: 20px;
   }
   .span{
       font-weight: bolder;
       font-size: 15px;
   }
   
.c1{
    margin-top: 30px;
}
.coln1{
    padding-top: 15px;


}
.icons{
    padding-right: 15px;
}
.coln2{
    text-align: right;
}
.coln4{
    text-align: right;
}

.head3{
    background-color: cadetblue;
}
.button1{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    background-color: #1C3FAA;
    border: 2px solid;
    color:white;
}
.button2{
    border-radius: 6px;
}
.l1{
    padding-left: 40px;
}
.b1{
    width: 70px;
    border-radius: 5px;
}
.buttonn{
    margin-right: 30px;
    padding: 3px;
    border-radius: 6px;
    
}


.headcontent{
    color:white;
}

.la{
 
  padding: 40px;
}
.la1{
    margin-top: 10px;
    
}
.la2{
    margin-left: 35px;
    margin-top: 10px;
}
.la3{
    margin-left: 24px;
}

.toolbar
{
    float:right;
}
.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{
    color: #fff !important;
background-color: rgba(28,63,170) !important;
background: rgba(28,63,170) !important;
border-color: rgba(28,63,170) !important;
border-radius: 3px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none !important;
}
.dataTables_filter input {
    background-size: 0 2px,100% 1px;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 5px;
    margin-left: 10px;
    border:2px solid gray;
}
.dataTables_length select {
    background-size: 0 2px,100% 1px;
    transition: background 0s ease-out;
    padding-bottom: 5px;
    border: 2px solid gray;
}   
.page-link {
    display: block;
    margin-left: -1px;
    line-height: 1.25;
    color:#1C3FAA;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.button2{
    border-radius: 6px;
    width: 50px;
    height: 40px;
    background-color: #1C3FAA;
    border: 2px solid;
    color:white;
}
