 
.head
{
    background-color:#DCDCDC;
}
 

.refresh
{
    background-color:whitesmoke;
    color: grey;
    
}
.icon
{     
    font-size: 15px;
    padding: 2px;
     
}
.btn{
    transition: 0.5s;    
    color: grey;    
    padding: 8px;  
}
 
.act
{
    background-color: #299AE1;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.content
{
    position: relative;
}
 .content img{
     height: 350px;
 }
 p{
     font-size: 14px;
      
    }
 
    .car
    {
       
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
        border: none;
    }
    .car-head
    {
        background-color:rgb(228, 230, 232);
        border-bottom: 3px solid #858C9C;
        padding: 10px !important;
    }
    .cad p{
  margin-bottom: 18px;
  font-size: 16px;
    }
    .cad h5{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .water
    {
        position: absolute;    
        width: 209px;
        bottom: 44%;
        left: 50%;       
          background-color: #299AE1;
        margin-left: -99px;
        transition:none;
    }
    #tankname h5
    {
        color:#858C9C;
    }
    #Location h5{
        color:#858C9C;
    }
    #device h5{
        color:#858C9C;
    }
    #device2 h5{
        color:#858C9C;
    }
    #status h5{
        color:#858C9C;
    }
    #status1 h5{
        color:#858C9C;
    }
    #status2 h5{
        color:#858C9C;
    }
 .oho
 {
    padding-left: 25px;
    padding-right: 25px;
 }
 .oh{
    padding-left: 15px;
    padding-right: 15px;
 }
 /* .off{
    display: none; 
}
.on{
    display: block;
} */