 
.head
{
    background-color:#DCDCDC;
}
 

.refresh
{
    background-color:whitesmoke;
    color: grey;
    
}
.icon
{     
    font-size: 15px;
    padding: 2px;
     
}
.btn{
    transition: 0.5s;    
    color: grey;    
    padding: 8px;  
}
th
{
    color: #009B84;
}
.act
{
    background-color: #009B84;
    color: white;
}
 
.content
{
    position: relative;
}
 .content img{
     height: 350px;
 }
 p{
     font-size: 14px;
      
    }
 
    .car
    {
       
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
        border: none;
    }
    .car-head
    {
        background-color:rgb(228, 230, 232);
        border-bottom: 3px solid #858C9C;
    }
    .cad p{
  margin-bottom: 18px;
  font-size: 16px;
    }
    .cad h5{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .water
    {
        position: absolute;
        height: 30%;
        width: 209px;
        bottom: 44%;
        left: 50%;
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#8ba7e2),
            to(#4273f0)
          );
        margin-left: -99px;
    }
    .drop
    {
         
       display: none; 
        height: 22px;
        width: 22px;
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#8ba7e2),
            to(#4273f0)
          );
        transform: rotate(45deg);
        position: absolute;
        border-radius: 0% 100% 100% 100%;
        left: 110px;
        top: 43px;
        
    }
