
 .section1
 {
      background-color: #1A73E8;      
      color:white;
 }
 .containflui{
    margin-left: 20px;
    margin-right: 20px;
 }
 .one
 {
     margin-bottom: 10px;
     margin-top: 10px;
     text-align: right;
 }  
  
 .modal-title
 {
     padding: 2px;
 }
  
 #tab
 {
    background-color:white;
    border-bottom-left-radius: 20px;
    padding-bottom: 70px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
 }
 .form-control{
    background-color: #EFEFEF;
}
/* .paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{
    color: #fff !important;
background-color: rgba(28,63,170) !important;
background: rgba(28,63,170) !important;
border-color: rgba(28,63,170) !important;
border-radius: 3px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none !important;
}
.dataTables_filter input {
    background-size: 0 2px,100% 1px;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 5px;
    margin-left: 10px;
    border:1px solid gray;
    height: 35px;
    margin-top: -3px;
}
.dataTables_length select {
    background-size: 0 2px,100% 1px;
    transition: background 0s ease-out;
    padding-bottom: 5px;
    border: 1px solid gray;
    height: 37px;
}   
  */